<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration"
      type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
      requirePermission="true" />
  </configSections>
  <system.serviceModel>
    <services>
      <service name="CAClient.Service.Client.ClientDetails" behaviorConfiguration="CAClientDetailsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.102:8000/Client/ClientDetails"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="CAClient.Service.Client.IClientDetails" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CAClient.Service.CAUtils.CountryDetails" behaviorConfiguration="CAClientDetailsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.102:8000/Country/CountryDetails"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="CAClient.Service.CAUtils.ICountryDetails" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
      <service name="CAClient.Service.Audit.AuditDetails" behaviorConfiguration="CAClientDetailsServiceBehavior">
        <host>
          <baseAddresses>
            <add baseAddress="http://192.168.0.102:8000/Audit/AuditDetails"/>
          </baseAddresses>
        </host>
        <endpoint address="" binding="wsHttpBinding" contract="CAClient.Service.Audit.IAuditDetails" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="CAClientDetailsServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>